---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Porfolio de yeronn - Desarrollador y Programador Web y de Videojuegos."
description="Contrata a yeronn para crear tu aplicación web o videojuego.">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-12 mb-4"
				src="https://media.licdn.com/dms/image/D4E35AQEYVRO1E49hOg/profile-framedphoto-shrink_200_200/0/1709248939426?e=1718830800&v=beta&t=r23CysitfTAjf6rioE4G5_syGrnidZhT2H9in148aOg"
				alt="Yefferson foto"
			/>

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 pb-10">
				Hey, soy yeronn <a
					href="https://www.linkedin.com/in/yeronn"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>Noveno semestre en la UIS en ingeniería de sistemas.</span>
				<span class="text-yellow-200/90"
					>Desarrollador Web y de Videojuegos.</span
				>
				<span class="text-red-200/90">De Bucaramanga, Colombia 🇨🇴.</span>
				<span class="opacity-75"
					>Especializado en crear aplicaciones únicas.</span
				>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/yeronn">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Yeronn">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:yeronn.f@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					yeronn.f@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase clase="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon clase="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
